---
- name: "Remediation: Restart Service"
  hosts: all
  become: yes
  tasks:
    - name: Restarting {{ service_name }}
      ansible.builtin.systemd:
        name: "{{ service_name }}"
        state: restarted